#signInPage{
    display:flex;
    justify-content: center;
    align-items: center;
}

#signinHeader{
    margin-bottom: 20px;
}

#signUpContainer{
    margin-top: 5%;
    width:60%;
    background-color: #ffffff;
    padding:40px;
    padding-top:0;
    border-radius: 5px;
}

@media(max-width: 800px){
    #signUpContainer{
        width:100%;
        border-radius:0px;
    }
    .g-recaptcha{
        margin-bottom: 20px;
    }
}

.inputLabelContainer{
    font-family:  'Raleway', sans-serif;
}

#signUpFormButton{
    background: #f05d5e;
    font-family:  'Raleway', sans-serif;
    color: #ffffff;
    border:none;
    padding: 10px;
    margin-left:0px;
    border-radius: 5px;
    height:30%;
    margin-top: auto;
    margin-bottom: auto;
}

#signupLinkContainter{
    margin-top: 15px;
    margin-left: 6px;
    font-family:  'Raleway', sans-serif;
}

#signupLink{
    color: #f05d5e;
}

#signupLink:hover{
    font-size: 16px;
}

.g-recaptcha{
    margin-top:10px;
    margin-left: 7px;
}

#errPromt{
    margin-top: 10px;
    color: red;
}