#signInPage{
    display:flex;
    justify-content: center;
    align-items: center;
}

#signInContainer{
    margin-top: 5%;
    width:60%;
    background-color: #eeeeee;
    padding:40px;
    padding-top:0;
    border-radius: 5px;
}

@media(max-width: 800px){
    #signInContainer{
        width:100%;
        border-radius:0px;
    }
}

#signInFormButton{
    display: inline-block;
    background: #f05d5e;
    font-family:  'Raleway', sans-serif;
    color: #ffffff;
    border:none;
    padding: 10px;
    margin-left:6px;
    border-radius: 5px;
}
