#productHeader{
    text-align: center;
}
#productCatagory{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.catagory{
    transition: font-size .5s;
}

.catagory:hover{
    font-size: 18px;
}

#productList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(min-width: 1000px){
    #productList{
        width: 1000px;
        margin-left:auto;
        margin-right:auto; 
    }
}

.productIcon{
    margin-top: 25px;
}

.productTitle{
    margin-top:10px;
    margin-left: 10px;
    font-family:  'Raleway', sans-serif;
    text-align: center;
}