#assertation{
    margin-top: 40px;
}
#assertationHeader{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#headerMain{
    margin-left: 10%;
}



#headerSecondary{
    margin-left:    30%; 
    color: #f05d5e;
}

#revHeaderMain{
    margin-left: 60%;
}
#revHeaderSecondary{
    margin-left:    45%; 
    color: #f05d5e;
}

#assertationBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

}

#bodyLeft{
    text-align: center;
    width:40%;
    height:20%;
}

#bodyRight{
    text-align: center;
    width: 35%
}

#revBodyLeft{
    text-align: center;
    width: 35%;
}

#revBodyRight{
    text-align: center;
    width: 35%;
    text-align: center;
    width:40%;
    height:20%;
}

@media(max-width: 800px){
    #assertationBody{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }

    #revHeaderMain{
        margin-left: 10%;
    }
    #revHeaderSecondary{
        margin-left:    30%; 
        color: #f05d5e;
    }
    #bodyRight{
        width:auto;
    }
    #revBodyLeft{
        width:auto;
        margin-top: 20px;
        margin-bottom: 30px; 
    }
    #bodyLeft{
        margin-top: 20px;
        margin-bottom: 30px; 
    }

}

@media(max-width: 600px){
    #bodyLeft{
        width: 80%;
    }
    #revBodyRight{
        width:80%;
    }
}



