#landingHeaderContainer{
    
}

.headerImg{
    background-image: url('../../images/fake-farm-p-800.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
}

#headerPhoto{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 300px;
    border-radius:3px;
    text-align: center;
}

#headerText{
   display: inline-block;
   margin-top: 60px;
   font-size: 30px;
   font-family:  'Raleway', sans-serif;
   color: #ffffff;
}

@media(max-width: 501px){
    #headerPhoto{
        height: 215px;
        width: 100%;
        border-radius: 0px;
    }

    .headerImg{
        background-image: url('../../images/fake-farm-p-500.jpeg');
    }

}

@media(max-width: 800px) and (min-width: 502px){
    .headerImg{
        background-image: url('../../images/fake-farm-p-800.jpeg');
        background-repeat: no-repeat; 
    }

    #headerText{
        font-size: 40px;
     }

}

@media(max-width: 1080px) and (min-width: 801px){
    .headerImg{
        background-image: url('../../images/fake-farm-p-1080.jpeg');
        background-repeat: no-repeat; 
        background-position-y: 30%;
    }

    #headerText{
        font-size: 40px;
     }

}

@media(max-width: 1600px) and (min-width: 1081px){
    .headerImg{
        background-image: url('../../images/fake-farm-p-1600.jpeg');
        background-repeat: no-repeat;
        background-position-y: 40%;
    }

    #headerText{
        font-size: 40px;
     }
}

@media(max-width: 2000px) and (min-width: 1601px){
    .headerImg{
        background-image: url('../../images/fake-farm-p-2000.jpeg');
        background-repeat: no-repeat;
        background-position-y: 40%;
    }

    #headerText{
        font-size: 40px;
     }
}
