#promotedContainer{
   margin-top: 40px;
}

#promotedHeader{
    font-family:  'Raleway', sans-serif;
    text-align: center;
}

#promotedHeader h3{
    font-family:  'Raleway', sans-serif;
    color: #f05d5e;
}

#promotedProductList{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(min-width: 1250px){
    #promotedProductList{
        width: 70%;
        margin: auto;
    }
    .productIcon{
        margin-left: 20px;
    }
}

@media(max-width: 900px){
    #promotedProductList{
        flex-direction: column;
        align-items:center;
    }

    .productIcon{
        margin-top: 15px;
    }
}
