.userItem{
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #dddddd;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between
}
.dataLabel{
    margin-left: 10px;
    font-size: 18px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.userItemButtonContainer{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userItemButton{
    margin-right: 12px;
    margin-top: 15px;

}

@media(max-width: 1050px){
    .userItem{
        width: 100%;
        border-radius: 0px;
        flex-direction: column;
    }
    .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        width:95%;
        
    }

    .infoItem{
        margin-right:10px;
    }

    .dataLabel{
        font-size: 18px;
    }

    .userItemButtonContainer{
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .userItemButton{
        margin-top:0;
    }
}

@media(max-width: 600px){
    .userItemButton{
        margin-right:0;
        margin-left: 10px
    }
}
