#AdminProductHeader{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: right;
}
#newProductButtonContainer{
    margin-left: 20px;
}
.productItem{
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #dddddd;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between
}
.dataLabel{
    margin-left: 10px;
    font-size: 18px;
}
#notice{
    margin-left: 10px;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.productItemButtonContainer{
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.productItemButton{
    margin-right: 12px;
    margin-top: 15px;

}

@media(max-width: 1050px){
    .productItem{
        width: 100%;
        border-radius: 0px;
        flex-direction: column;
    }

    .infoContainer{
        flex-direction: column;
        flex-wrap: wrap;
        width:95%;
        
    }

    .infoItem{
        margin-right:10px;
    }

    .dataLabel{
        font-size: 18px;
    }

    .userItemButtonContainer{
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .userItemButton{
        margin-top:0;
    }
}

.dropBox{
    margin: auto;
    width: 50%;
    border: 3px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

@media(max-width: 600px){
    .userItemButton{
        margin-right:0;
        margin-left: 10px
    }
}
