#appContainer{
  height: 97.5vh;
  display:flex;
  flex-direction: column;
}

#switchContainer{
  flex: 1 0 auto;
}

#tailContainer{
  margin-top: 20px;
  flex-shrink: 0;
}

#spinnerContainer{
  margin-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner{
  width: 100px;
  height: 100px;
}
