#tailContainer{
    background-color:rgb(236, 54, 54) ;
    width: 100%;
    height: 70px;
    font-family:  'Raleway', sans-serif;
}

#linkContainer{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#tailItem{
   
    margin-top: 10px;
}

#devInfo{
    margin-top: 20px;
    font-size:9px;
}

a {
    color: #333333;
    transition: font-size .5s;
  
}         
a:visited {color:#333333;}
a:hover {
    color:#333333;
    font-size: 18px;
    
    text-decoration: none;
} 
a:active {color:#333333;}  