
#logoHeader{
    font-size: 35px;
    font-family:  'Raleway', sans-serif;
    color: #f05d5e;
    margin-top: 9px;
}

#logoHeader:hover{
    color: rgb(236, 54, 54);
}

@media(max-width:600px){
    #logoHeader{
        font-size: 25px;
        margin-top: 13px;
    } 
}

#signupButton, #cartButton{
    background: #f05d5e;
    font-family:  'Raleway', sans-serif;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

#cartButton:hover{
    background: rgb(233, 75, 75);
}


.navLinkCont{
    margin-top:3px;
    margin-right: 25px;
    font-size: 20px;
}

.navLinkCont:hover{
    font-size: 22px;
    -webkit-transition: 1s;
    transition: .5s;
}

#cartButton{
    margin-right: 10px
}


#dropDownContainer{
    font-size: 18px; 
    margin-bottom: 10px;
  
}

@media(min-width: 1000px){
    #dropDownContainer{
        margin-top: -2px;
    }
}
